<nav class="navbar navbar-expand-lg shadow-sm fixed-top ">
    <a class="navbar-brand" (click)="toggleCollapsed()">
        <span class="m-3">
            <i  aria-hidden="true" class="menu-hamburger hand-cursor fa fa-bars text-muted">&nbsp;&nbsp;</i>test
        </span>
    </a>
    <button (click)="toggleSidebar()" class="navbar-toggler" type="button">
        <i aria-hidden="true" class="fa fa-bars text-muted"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item dropdown me-4" ngbDropdown>
                    <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                        <i class="fa fa-user"></i> test <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu-right" ngbDropdownMenu>
                        <a (click)="onLoggedout()" [routerLink]="['auth/login']" class="dropdown-item">
                            <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' }}
                        </a>
                    </div>
                </li>
            </ul>

    </div>
</nav>
