<nav [ngClass]="{ collapsed: collapsed }" class="sidebar">
    <div class="list-group mt-2">
        <a [routerLinkActive]="['router-link-active']" class="list-group-item" routerLink="/dashboard">
            <i class="fa fa-fw fa-th"></i>&nbsp;
            <span>{{ 'Dashboard' }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/users']" class="list-group-item">
            <i class="fa fa-fw fa-flag"></i>&nbsp;
            <span>{{ 'Countries' }}</span>
        </a>
        <a (click)="onLoggedout()" [routerLinkActive]="['router-link-active']" [routerLink]="['/login']" class="mt-10 font-weight-bold list-group-item">
            <i class="fa fa-power-off font-weight-bold"></i>&nbsp;
            <span>{{ 'Log Out' }}</span>
        </a>
    </div>
    <div (click)="toggleCollapsed()" [ngClass]="{ collapsed: collapsed }" class="toggle-button">
        <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' }}</span>
    </div>
</nav>
